*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1{
	background: linear-gradient(45deg, #1d0000, #20205b);
	color: ghostwhite;
	text-align: center;
}
.hero{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(45deg, #1d0000, #20205b);
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.calender{
	width: 300px;
	height: 250px;
	background: rgb(51,51,255);
	display: inline-flex;
	align-items: center;
	border-radius: 10px;
}

.left, .right{
   height: 100%;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   flex-direction: column;
}

.right{
	width: 42%;
	background: #f4351e;
	color: rgb(229,255,204);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.left{
	width: 58%;
}